[submodule "cosmos-sdk-go"]
	path = cosmos-sdk-go
	url = https://github.com/cosmos/cosmos-sdk.git
	branch = v0.40.x
[submodule "tendermint"]
	path = tendermint
	url = https://github.com/tendermint/tendermint.git
	branch = v0.34.x
